src/main/resources/wsdl/documentoWS.tws.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://VD/documentoWS.tws" xmlns:impl="http://VD/documentoWS.tws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:intf="http://VD/documentoWS.tws" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:impl1="http://lombardi.ibm.com/schema/" xmlns:wsdlsoap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://VD/documentoWS.tws" xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://lombardi.ibm.com/schema/"/>
  <element name="guardarDocumento">
    <complexType>
      <sequence>
        <element name="contentLength" type="xsd:int"/>
        <element name="mimeType" type="xsd:string"/>
        <element name="fileName" type="xsd:string"/>
        <element name="content" type="xsd:string"/>
        <element name="propiedades" type="impl1:ArrayOf_NameValuePair"/>
      </sequence>
    </complexType>
  </element>
  <element name="guardarDocumentoResponse">
    <complexType>
      <sequence>
        <element name="documentID" type="xsd:string"/>
      </sequence>
    </complexType>
  </element>
</schema>
    <schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lombardi.ibm.com/schema/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://VD/documentoWS.tws" xmlns:impl1="http://lombardi.ibm.com/schema/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://VD/documentoWS.tws">
    <!--Add URI of the schema document for the imported namespace using 'schemaLocation' attribute.-->
  </import>
  <complexType name="NameValuePair">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="name" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="value" nillable="false" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="ArrayOf_NameValuePair">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="impl1:NameValuePair"/>
    </sequence>
  </complexType>
  <complexType name="ArrayOf_string">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="xsd:string"/>
    </sequence>
  </complexType>
</schema>
  </wsdl:types>
  <wsdl:message name="guardarDocumentoResponse">
    <wsdl:part name="parameters" element="impl:guardarDocumentoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="guardarDocumentoRequest">
    <wsdl:part name="parameters" element="impl:guardarDocumento">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="documentoWSPortType">
    <wsdl:operation name="guardarDocumento">
      <wsdl:input name="guardarDocumentoRequest" message="impl:guardarDocumentoRequest">
    </wsdl:input>
      <wsdl:output name="guardarDocumentoResponse" message="impl:guardarDocumentoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="soap12documentoWSSoapSoapBinding" type="impl:documentoWSPortType">
    <wsdlsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="guardarDocumento">
      <wsdlsoap12:operation soapAction="http://VD/documentoWS.tws/guardarDocumento"/>
      <wsdl:input name="guardarDocumentoRequest">
        <wsdlsoap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="guardarDocumentoResponse">
        <wsdlsoap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="documentoWS">
    <wsdl:port name="soap12documentoWSSoap" binding="impl:soap12documentoWSSoapSoapBinding">
      <wsdlsoap12:address location="https://localhost:9444/teamworks/webservices/VD/documentoWS.tws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>